.mentor-item{
    width: 255px;
    height: 137px;
    left: 165px;
    top: 94px;

    background: radial-gradient(116.88% 155.88% at 86.9% 71.61%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
    border-radius: 10px;
}

.mentor-items{
    transform: translateX(7%) translateY(50px);
}

.mentor-item-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.25px;
    
    color: #FFFFFF;
}

.mentor-item-desc{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    
    mix-blend-mode: normal;
    opacity: 0.75;
}